div.formclass(ng-controller="bookDeliveryCtrl")
   div
         .container
            h4
               font(color= "blue")  Transactions Details
               font(size="4", color= "green")
                  input(type='text', ng-model='search', placeholder="search for books")
            table.table.table-hover
               thead
                  tr
                     th Book Name
                     th Book Author
                     th Book Author
                     th Status
               tbody
                  tr(ng-repeat="t in transactions | filter: search")
                     td {{t.book.name}}
                     td {{t.user.fullname}}
                     td {{t.date | date : 'd MMM, yyyy'}}
                     td(ng-if="t.book.status==0", ng-class="{green : t.book.status==0}")
                        a.btn.btn-primary(ng-click='storeTransaction(book._id)') Available
                     td(ng-if="t.book.status==1", ng-class="{red : t.book.status==1}") Unavailable

